---
- name: Проверка доступности apt
  ansible.builtin.command: apt-get -v
  register: apt_check
  changed_when: false

- name: Проверка DNS-доступности репозитория пакетов
  ansible.builtin.command: "getent hosts {{ preflight_repo_host }}"
  register: dns_check
  changed_when: false
  failed_when: dns_check.rc != 0
  # Внешнюю проверку можно отключить через inventory: preflight_check_repo_dns=false
  when: preflight_check_repo_dns | bool

- name: Проверка HTTP-доступности репозитория пакетов
  ansible.builtin.uri:
    url: "http://{{ preflight_repo_host }}"
    method: HEAD
    timeout: 5
    status_code: [200, 301, 302]
  register: http_check
  changed_when: false
  # Используем тот же переключатель, чтобы в air-gap полностью пропускать внешние проверки.
  when: preflight_check_repo_dns | bool

- name: TODO для изолированных окружений
  ansible.builtin.debug:
    msg: >-
      Внешние DNS/HTTP-проверки отключены (preflight_check_repo_dns=false).
      Используйте внутреннее зеркало пакетов в закрытом контуре.
  when: not (preflight_check_repo_dns | bool)

- name: Проверка установлен ли Docker
  ansible.builtin.command: docker --version
  register: docker_check
  changed_when: false
  failed_when: false
